/*
 * Empty Stylesheet file.
 */

.vbox_image{
    -fx-background-image: url(../../img/adoravel-animal-animal-de-estimacao-animal-domestico-1741205.jpg);
    -fx-background-size: 100%;
    -fx-background-position: bottom;
}

.button{
    -fx-background-color:  linear-gradient(to top right, #70B806, #508104);
}

.button:hover{
    -fx-background-color:  linear-gradient(to top right, #508104, #70B806);
}

.lbl_register{
    -fx-text-fill: linear-gradient(to top right, #70B806, #508104);
}

.lbl_register:hover{
    -fx-text-fill:  linear-gradient(to top right, #508104, #70B806);
}
